/config/avatars.json
/config/suspects.json
/node_modules
.vscode/
npm-debug.log
# Typescript build artifacts
.*-dist/
tools/set-import/importer.js
tools/modlog/converter.js
*.tsbuildinfo
**/sourceMaps

!test/**/*.js
tools/modlog/**/*.js
tools/set-import/*.js

# visual studio live share
.vs

# boilerplate #
###############

.DS_Store

# editor temp files
*~
.idea/

tmp/**/*
*.lock
*.DS_Store
*.swp
*.out
*.pyc
*.pyo
.installed.cfg

downloads
dist

# egg related
develop-eggs
*.egg-info
*.egg
*.EGG
*.EGG-INFO
src/*.egg-info
eggs
fake-eggs

# django
local_settings.py

# SCM
.hg
.bzr
.svn

pip-log.txt
# redis dumps
*.rdb
logs/errors.txt
config/chat-plugins/mafia-logs.json
config/chat-plugins/sample-teams.json
config/chat-plugins/seasons.json
config/chat-plugins/the-studio.json
config/chat-plugins/youtube.json
logs/chatlog-access.txt
logs/responder.jsonl
